<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin: 0px">
<div id="checker">
</div>
<div id="map">

</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8WU_Hc5l507bZVpdCKDEmZDjhjOFHXHs&callback=initMap"></script>
<script th:inline="javascript">

    function initMap() {

        /*<![CDATA[*/
        var level = parseInt([[${mapRequest.level}]]);
        var lat = parseFloat([[${mapRequest.lat}]]);
        var lng = parseFloat([[${mapRequest.lng}]]);
        var type = ([[${mapRequest.type}]]);
        /*]]>*/


        var defaultWidth = 500;
        var dynamicWidth = defaultWidth;
        var width;
        var zoomLevel;
        var maptype;

        if(type === "basic"){
            maptype = google.maps.MapTypeId.ROADMAP;
        } else if(type === "satellite_base"){
            maptype = google.maps.MapTypeId.SATELLITE;
        } else if(type === "satellite"){
            maptype = google.maps.MapTypeId.HYBRID;
        }

        switch (level){
            case 1:
                zoomLevel = 18
                width = 5500;
                break;
            case 2:
                zoomLevel = 17;
                width = 4500;
                break;
            case 5:
                zoomLevel = 16;
                width = 5500;
                break;
            case 10:
                zoomLevel = 15;
                width = 5500;
                break;
            default:
                break;
        }
        var container = document.getElementById('map');
        var options = {
            center: {lat: lat, lng: lng},
            zoom: zoomLevel,
            mapTypeId: maptype,
            disableDefaultUI: true,
            gestureHandling: "none",
            keyboardShortcuts: false
        };

        container.style.height = dynamicWidth + "px";
        container.style.width = dynamicWidth + "px";

        var map = new google.maps.Map(container, options);

        var intervalCount = 0;
        var finalLoading = false;

        var timerId = setInterval(function (){

            intervalCount++;

            if(dynamicWidth < width && !finalLoading){
                dynamicWidth += defaultWidth;
                container.style.height = dynamicWidth + "px";
                container.style.width = dynamicWidth + "px";
                map.setCenter(new google.maps.LatLng(lat, lng));
            }


            else if(dynamicWidth >= width && !finalLoading){
                finalLoading = true;
            }

            else if(finalLoading){
                document.getElementById("checker").setAttribute("id", "checker_true");
                clearInterval(timerId);
            }

            if(intervalCount >= 40){
                clearInterval(timerId);
            }

        }, 1000);
    }



</script>
</body>
</html>