<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="margin: 0px">
<div id="checker">
</div>
<div id="map">

</div>



<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=46d97694c5e976ec8af172aebc94c130"></script>
<script th:inline="javascript">
  /*<![CDATA[*/

  var level = parseInt([[${mapRequest.level}]]);
  var lat = parseFloat([[${mapRequest.lat}]]);
  var lng = parseFloat([[${mapRequest.lng}]]);
  var type = ([[${mapRequest.type}]]);
  var layerMode = Boolean([[${mapRequest.layerMode}]]);

  /*]]>*/

  var goalWidth;
  var zoomLevel;
  var maptype;
  var defaultWidth = 500;
  var dynamicWidth = defaultWidth;
  var offset = 500;

  if(type === "basic"){
    maptype = kakao.maps.MapTypeId.ROADMAP;
  } else if(type === "satellite_base"){
    maptype = kakao.maps.MapTypeId.SKYVIEW;
  } else if(type === "satellite"){
    maptype = kakao.maps.MapTypeId.HYBRID;
  }

  switch (level){
    case 1:
      zoomLevel = 2;
      goalWidth = 5000;
      break;
    case 2:
      zoomLevel = 3;
      goalWidth = 4000;
      break;
    case 5:
      zoomLevel = 4;
      goalWidth = 5000;
      break;
    case 10:
      zoomLevel = 5;
      goalWidth = 5000;
      break;
    default:
      break;
  }
  var container = document.getElementById('map');
  var options = {
    center: new kakao.maps.LatLng(lat, lng),
    level: zoomLevel,
    draggable: false,
    zoomable: false,
  };
  container.style.height = dynamicWidth + "px";
  container.style.width = dynamicWidth + "px";

  var map = new kakao.maps.Map(container, options);
  map.setMapTypeId(maptype);

  if(layerMode === true){
    map.addOverlayMapTypeId(kakao.maps.MapTypeId.USE_DISTRICT);
  }

  var intervalCount = 0;
  var finalLoading = false;

  var timerId = setInterval(function (){

    intervalCount++;

    if(dynamicWidth <= goalWidth + offset && !finalLoading){
      dynamicWidth += defaultWidth;
    }

    if(dynamicWidth > goalWidth + offset && !finalLoading){
      finalLoading = true;
    }

    container.style.height = goalWidth + "px";
    container.style.width = goalWidth + "px";
    map.setCenter(new kakao.maps.LatLng(lat, lng));
    map.relayout();


    if(finalLoading){
      document.getElementById("checker").setAttribute("id", "checker_true");
      clearInterval(timerId);
    }

    if(intervalCount >= 40){
      clearInterval(timerId);
    }

  }, 1000);

  // 카카오 지도가 한번에 전체 지도 이미지를 요청할 경우 간헐적으로 요청이 차단된다
  // 아마 지도 이미지를 한번에 너무 많이 요청해서 그런 것으로 추정함
  // 그래서 작은 사이즈의 지도 이미지부터 완성하며 큰 지도를 만드는 방식으로 변경
  // kakao.maps.event.addListener(map, 'tilesloaded', function() {
  //   loadCount++;
  // });




</script>
</body>
</html>